@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  margin-right: 0.5rem;
  }

html {
  box-sizing: border-box;
  font-family: monospace;
}

p, label, button {
  font-size: 1.25rem;
}

label{
  margin-bottom: -.75rem;
}

button {
  background-color: #550040;
  color: white;
  font-weight: bold;
  max-width: 15rem;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  margin-left: 2rem;
  grid-template-areas: "r";
 }

button:hover {
  cursor: pointer;
  color: white;
  background-color: #cc5500;
  border-radius: 0rem;
}

.schedule-button {
  display: contents;
}

.dummy:hover {
  background-color: #555;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  text-align: left;
}

Link , a {
  font-size: 1.5rem;
  color: blue;
}


.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 1.5rem;
  margin: .5rem;
  padding: .5rem .75rem;
  font-size: 1.5rem;
}

.page-bottom{
  margin-bottom: 15rem;
}

.footer-nav{
  position: fixed;
  margin-bottom: 01rem;
  
}

.error {
  color: #900000;
}